<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>USER LIST</h1>
    <ul>
        <!-- <li>1: Dario</li>
        <li>2: Javier</li>
        <li>3: Alejandro</li> -->

    </ul>
    <%   for (let i=0; i< users.lengt; i++) {   %>
        <li>
            <%= users[i]  %> 
        </li>
     <% } %>     
</body>
</html>